
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Heading-->
    <i class="fas fa-laptop-code" style="font-size: 200px;"></i>
    <br>
    <h1 class="masthead-heading mb-0">WebFast</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="pre-wrap masthead-subheading font-weight-light mb-0">Web Development - Web Design - Digital marketing
    </p>
  </div>
</header>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <i class="fas fa-laptop-code" style="font-size: 84px;"></i>
    <h1 class="display-4">Web Development</h1>
    <p class="lead">Expert developed web pages for serious professionals.</p>
    <button type="button" class="btn btn-info">Portfolio</button>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <i class="fas fa-headset" style="font-size: 84px;"></i>
    <h1 class="display-4">Customer Support</h1>
    <p class="lead">All clients will be given assistance, on any given problem within the site, from 8am - 9pm.</p>
    <button type="button" class="btn btn-info">Contact</button>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Web-Hosting</h1>
    <p class="lead">We pay for your Domain name and Web hosting!</p>
  </div>
</div>
